# Markdown Basics
## Markdown Basics
## Markdown Basics
### Markdown Basics
#### Markdown Basics
##### Markdown Basics

* **Point1** (Bold)
* *Point2* (Itallic)
* ***Point3*** (Bold and Itallic)

* Normal Text
 * Sublist 1
 * Sublist 2
 
 > 1. Point1
 > 2. Point2
 
 * ***Adding links to Markdown***
 
 * Google site -- [1] :https://www.google.com/
 * msn site --[2] http://www.msn.com
 
 - []option 1
 * Google site --[Google][1] 
[1]: https://www.google.com

### Python Basics 

* Python version 3.7
- Fuctional Programming
- Opps
- Scripting Programming

In [2]:
print("Hello Gitam")

Hello Gitam

In [4]:
print("Hello Gitam")
print("Hyderabad")

Hello Gitam
Hyderabad

In [11]:
print("Hello,Gitam","|||", end=" ")
print("Hyderabad",end=" ||| ")
print("Python Programming")

Hello,Gitam ||| Hyderabad ||| Python Programming

## Assignment

In [17]:
n1 = 100 #Single Variable Assignment
a=b=c=20 #Multi Variable Assignment with same value
a1,b1,c1=111,222,333 # Multi variable assignment with different value
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

### Data Types and Conversion
- int
- float
- string

In [27]:
a= 100
s1="Python"
s2= 'P'
f1=10.2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python P 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [28]:
i=100
print(type(i))
s1=str(i) # str() converts the input into string type
print(type(s1))
f1=float(i) # float() converts the input into float 
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [45]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [1]:
# A number is given 1234 -
# Digit count
a1=1234
print(len(str(a1)))

4

### Reading a Value
-input("Message")--string

In [2]:
s1=input("Enter your name")
print(s1)
print(type(s1))

Enter your nameruthwik
ruthwik
<class 'str'>

In [3]:
# want a no as a input
n1= int(input("Enter a no"))
print(n1,type(n1))

Enter a no1234
1234 <class 'int'>

## Operators
- Operator is a symbols is used to perform a specific kind of operations

### Arithmetic Operators
- +
- -
- *
- /
- %
- ** 
- //

In [6]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1/10) #returns coefficient in float
print(n1%10) # returns remainder in int
print(n1**10) # returns power of number
print(n1//10) # returns coefficient in int

1244
1224
12340
123.4
4
8187505353567209228244052427776
123

## Precedence of the Arth operator
- Parenthesis
- Power
- Multiplication
- Addtion

###  Left to Right

In [8]:
x=1+2**3/4+5
print(x)

8.0

### Relations Operators
- ==
- !=
- Greater(>)
- Less than(<)
- Less than or equal to(<=)
- Greater than or equal to(>=)

### True OR Flase
 
 ## Logical Operators
 - and(both true)
 - or(atleast one)
 - not(only one)

In [10]:
i=10
a=(i>15)
print(a)

False

### Control Flow Statements
- Condtional
- Looping

### if-else statements
* **Syntax**

 * if Boolean_condition: 
 * Statements 
 * else:
 * statements

In [13]:
# To check given no is even or odd
n= int(input("Enter a No \n"))
if n%2==0:
    print("Even")
else:
    print("Odd")

Enter a No
12
Even

In [21]:
# To check given no is perfectly mulitple of 3 and 5 
n= int(input("Enter a no \n"))
if n%3 == 0 and n%5 == 0:
    print("Yes")
else:
    print("No")

Enter a no
23
No

In [3]:
n=20
n2=40
sum= float(n)+float(n2)
print("sum".format(n,n2,sum))

sum